*{
    font-family: 'Noto Sans JP', sans-serif;
}

*::selection{
    color:white;
    background-color: #04D5A8;
}

body{
    margin-left: 20px;

}

h1 {
    margin-top: 0;
    font-size: 3.052em;
}
  
h2 {
    font-size: 2.441em;
    text-align: center;
    font-weight: 700;
}
  
h3 {font-size: 1.953em;}
  
h4 {
    font-size: 2em;
}
  
  h5 {
    margin-top: 25px;
    font-size: 3.052em;
    text-align: center;
    margin-bottom: 50px;
}
  
small, .text_small {font-size: 0.8em;}

h1,h3,h4,h5,h6{
    font-weight: 700
}

p{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    max-width: 55%;
    margin-left: 100px;
    line-height: 1.75;
}


a{
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: none;
    border-bottom: 2px solid #0cb37b;
}

a:active{
    color: darkgrey
}

p a{
    color:#1ea678;
    font-weight:bolder;
}

.btn-link{
    border-bottom: none !important;
}

button:focus{
    outline-color: transparent;
    -moz-outline-radius: 3px;
}

.current{
    color: darkgrey;
}

blockquote{
    border-left: 3px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: italic;

    max-width:700px;
    margin:0 auto;
    width:auto;
    display:table
}

nav{
    float: right;
    position: relative;
    top: 20px;
    padding-right: 10px;
    
    a{
        padding: 20px;
    }

    .current{
        color: black;
        font-weight: bolder;
    }
}

nav a:hover{
    border-bottom: none;
    font-weight: bolder;
}

.title{
    margin-bottom: 20px;
}

.nav-title{
    letter-spacing: 0.35rem;
    float: left;
    position: relative;
    bottom: 0px;
    top:7px;
    a:hover{
        border-bottom: none;
    }
    padding:0px;
    margin:0px;
    font-weight: 800;
}

.tag-container{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 40px;
    padding-bottom: 60px;

    &::-webkit-scrollbar {
        width: 2px;
        background-color: #eeeeee;
        border-radius: 2px;
        height: 3px;
        padding: 60px;
        visibility: hidden;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #cfcfcf;
        border-radius: 15px;
        visibility: hidden;
    
    }

    
}

.thumbnails-link{
    border-bottom:none !important;
    float: left;
}

.thumbnails{
    max-width: 200px;
    border-radius: 5px;
}

.post{
    clear: both;
    display: flex;
    align-items:center;
    border: 1px transparent solid;
    /*border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(40, 44, 43, 0.25);*/
    margin-bottom: 25px;
    max-width: 85%;
    padding: 0px;

    h3{
        padding-left: 25px;

        a:hover{
            border-bottom: none;
            color:#0cb37b
        }
    }
}

.tag{
    height: 38px;

    background: #fcfcfc;
    box-shadow: 0px 3px 7px rgba(120, 128, 125, 0.25);
    
    border-radius: 7px;
    border: 0.25px solid whitesmoke;

    padding-left: 19px;
    padding-right:20px;
    padding-top: 0px;
    margin: 10px;
    cursor: pointer;
    font-weight: 300;

    &:hover{
        background-color: #f5f5f5;
        box-shadow: 0px 3px 10px rgba(75, 99, 91, 0.25);
    } 
}

.tag:hover{
    font-weight: bolder !important;
}

.author-timestamp{
    color:grey;
    position: relative;
    bottom: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}

.centered-post p{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        max-width: 800px !important;
    }
}

.copyclip{

    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 5px;
    img{
        max-height: 40px;
    }
}

.share{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title{
    margin-left: 40px;
}

/*Footer*/
.github{
	position: relative;
	bottom: 4px;
	margin-right: 4px;
    max-width: 28px;
}

.gmail{
    position: relative;
    bottom: 3px;
    margin-right: 4px;
}

.twitter{
    position: relative;
    bottom: 3px;
}

footer{
	text-align: center;
	clear: both;
	margin-top: 70px;
    margin-bottom: 30px;
    color: grey;
    font-weight: 300;
}

/*Media queries*/
@media only screen and (max-width: 800px) {
    .thumbnails{
        max-width: 130px;
    }
    
    p{
        max-width: 70%;
    }

    .about-title{
        margin-left: 20px;
    }

    .center{
        img{
            max-width: 400px !important;
        }
    }
  }

  @media only screen and (max-width: 600px){

    h1{
        font-size: 2.8em;
    }

    .tag-container{
        justify-content: left;
    }

    .post{
        padding: 10px;    
        h3{
            padding-left: 10px;
        }

        img{
            display: none;
        }
    }

    nav{
        display: none;
    }

    .about-post{
        margin-left: 10px;
    }

    p{
        max-width: 90%;
        margin-left: 10px;
        line-height: 1.75;
    }
    

  }