*{
    font-family: 'Manrope', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 800
}

p{
    font-weight: 300;
}


a{
    text-decoration: none;
    color: black
}

a:hover{
    text-decoration: none;
    border-bottom: 2px solid darkgrey;
}

a:active{
    color: darkgrey
}



.current{
    color: darkgrey;
}

blockquote{
    border-left: 3px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-style: italic;
}